<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Ajoutez un film à votre <%= @list.name %> </h3>
        <%= simple_form_for [@list, @category] do |f| %>
          <%= f.input :comment, placeholder: "Entrez un commentaire sur le film" %>
          <%= f.association :movie, prompt: "Sélectionner un film", input_html: {data: {controller: "tom-select"}} %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
